textarea {
    width: 600px;
    height: 100px;
}

#load_date {
    color: green;
}

pre {
    height: 100%;
    width: 600px;
    background-color: #ececec;
    border: 1px solid black;
    padding: 10px;
}

input {
    margin: 10px;
}